body {
    background-color: teal;
}

.UI {
    display: flex;
    flex-flow: row;
    background-color: aliceblue;
    width: 100%;
    height: 100px;
    border-top: 5px solid black;
    text-align: center;
}

.UI *{
    width: 33.3%;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 610px;
    height: 710px;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#status {
    width: 95px;
    height: 95px;
}

#game-board, #main-menu, #easy-menu, #hard-menu {
    width: 100%;
    height: 100%;
}

#game-board {
    display: none;
    background-color: rgb(74, 74, 74);
    margin: auto;
    align-items: center;
}
 
#main-menu {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#easy-menu, #hard-menu {
    background-color: wheat;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#easy, #hard, #easy-menu button, #hard-menu button {
    margin: 10px;
    width: 100px;
}

#quit {
    width: 100px;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tile {
    display: flex;
    background-color: rgb(166, 166, 166);
    justify-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tileCounter {
    font-size: 24px;
    text-align: center;
}


@media (max-width: 500px) {
    .container {
        /* TODO responzivita */
        width: 200px;
        height: 200px;
    }
}